* {
    font-family: 'Shabnam', sans-serif;
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/Shabnam.woff2') format('woff2'),
    url('/fonts/Shabnam.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}