body {
    height: auto;
}

html {
    height: auto;
}

.container-main {
    /*width : 100%;*/
    /*margin-right: 0;*/
    /*margin-left: 0;*/
}

.profile-image {
    max-width: 100px;
}

.row-teacher {
    cursor: pointer;
    padding: 20px;
    background-color: rgba(0, 26, 31, 0.05);
    border-radius: 25px;
    margin: 20px;
}

.col-app {
    justify-content: center;
    display: flex;
}

.hover-nav:hover {
    background-color: rgb(137, 214, 255);
    cursor: pointer;
}

.hover-nav {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-container {
    flex-direction: row;
}


.nav-main {
    color: white;
    background-color: rgba(77, 142, 0, 0.73);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
}

.loginPage {
    border-radius: 20px;
    width: 450px;
    margin-top: 200px;
    padding: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.38);
}

.login-info {
    width: fit-content;
}

.image-profile {
    width: inherit;
    margin-bottom: 30px;
}

.container-main-profile {
    border-radius: 20px;
    padding: 20px;
    width: auto;
    margin: 30px;
    background-color: rgba(32, 0, 50, 0.07);
    overflow-x: auto;
}

@media screen and (max-width: 600px){
    .container-main-profile {
        padding: 12px;
        margin: 10px 0 10px 0;
    }
}

.container-main-profile-non-fluid {
    border-radius: 20px;
    padding: 20px;
    width: auto;
    margin-top: 30px;
    background-color: rgba(32, 0, 50, 0.07);
}

.my-span {
    /*background-color: rgba(0, 206, 255, 0.24);*/
    border-radius: 10px;
    /*padding: 10px;*/
    /*margin-left: 10px;*/
    font-size: 1rem;
    min-width: fit-content;
    padding-left: 5px;
    /*max-width: border-box;*/
}

.profile-detail-span {
    font-size: 1.25rem;
    font-weight: bold;
}

.text-container {
    /*padding: 10px;*/
    /*border-radius: 10px;*/
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    direction: rtl;

}

.my-textarea {
    min-width: 800px;
    min-height: 200px;
    direction: rtl;
}

.my-h4 {
    background-color: rgba(68, 255, 0, 0.44);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}

.tableRow:hover {
    background-color: rgba(90, 98, 104, 0.2);
}

.tableData {
    text-align: justify;
    /*display: flex;*/
    /*justify-content: center;*/
}

.rtl {
    direction: rtl;
}

.row-border {
    border-color: rgba(0, 0, 0, 0.17);
    border-style: solid;
    border-width: 0 0 1px 0;
    min-height: 40px;
    padding: 5px
}

.time-picker-custom {
    background-color: white;
    width: 125px;
}

.image-logo {
    height: 50px;
}

.custom-nav-item {
    border-bottom: 2px blue solid;
    margin: 0 7px 0 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*border-radius: px;*/
}

.navbar-custom {
    box-shadow: #5e7797 0 0 5px;
}

.teacher-row {
    padding: 30px;
}

@media screen and (max-width: 600px){
    .teacher-row {
        padding: 15px 0 15px 0;
    }
}