/*.image-profile {*/
/*    width : inherit;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.container-main-profile {*/
/*    border-radius: 20px;*/
/*    padding: 20px;*/
/*    width: auto;*/
/*    margin : 30px;*/
/*    background-color: rgba(32, 0, 50, 0.07);*/
/*}*/

/*span {*/
/*    background-color: rgba(0, 206, 255, 0.24);*/
/*    border-radius: 10px;*/
/*    padding : 10px;*/
/*    margin-left: 10px;*/
/*}*/

/*.text-container {*/
/*    !*padding: 10px;*!*/
/*    !*border-radius: 10px;*!*/
/*    display: flex;*/
/*    !*flex-direction: column;*!*/
/*    align-items: center;*/
/*    direction: rtl;*/

/*}*/

/*textarea {*/
/*    min-width: 800px;*/
/*    min-height: 200px;*/
/*    direction: rtl;*/
/*}*/

/*h4 {*/
/*    background-color: rgba(68, 255, 0, 0.44);*/
/*    border-radius: 10px;*/
/*    padding : 10px;*/
/*    margin-left: 10px;*/
/*}*/

/*.tableRow:hover{*/
/*    background-color: rgba(90, 98, 104, 0.2);*/
/*}*/

/*.tableData {*/
/*    text-align: justify;*/
/*    !*display: flex;*!*/
/*    !*justify-content: center;*!*/
/*}*/